<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoservice</title>
    <link rel="stylesheet" href="../../css/cliente.css">
    <script src="../../js/cliente.js" defer></script>
</head>
<body>
    <header>
        <h2 id="saludo"></h2>
    </header>
    <main>
        <nav id="nav-bar">
            <!--Hola-->
            <ul id="filtro-nav">
                <li><a href="#" id="todos">Todos</a></li>
                <li><a href="#" id="pinceles">Pinceles</a></li>
                <li><a href="#" id="acrilicos">Acrílicos</a></li>
            </ul>
            <a href="#" id="btn-carrito" title="Ver carrito">
                <img 
                    src="https://cdn-icons-png.flaticon.com/512/833/833314.png" 
                    alt="Carrito" 
                    class="icono-carrito">
                <span id="contador-carrito">0</span>
            </a>
        </nav>
        <div id="contenedor-productos" class="product-grid"></div>
    </main>
    
</body>
</html>